* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


:root {
  --hd-color: rgb(118, 117, 117);
  /* --bg-color: rgb(241, 221, 197); */
  --bg-color: rgb(227, 225, 225);
  --transition: all 0.3s ease;
  --transition-2: all 0.5s ease;
  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}

body {
  background: var(--bg-color);
  height: 100vw;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-sm);
  }
}